services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.3
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
      - xpack.security.enabled=false
    ports:
      - "9200:9200"
      - "9300:9300"
    volumes:
      - esdata:/usr/share/elasticsearch/data

  api-gateway:
    build:
      context: .
      dockerfile: api-gateway/Dockerfile
    container_name: api-gateway
    environment:
      - SPRING_PROFILES_ACTIVE=pro
      - SERVER_PORT=8080
    ports:
      - "8080:8080"
    depends_on:
      - user-service
      - auth-service
      - customerservice
      - propertyservice

  auth-service:
    build:
      context: .
      dockerfile: auth-service/Dockerfile
    container_name: auth-service
    environment:
      - SERVER_PORT=8082
    ports:
      - "8082:8082"

  user-service:
    build:
      context: .
      dockerfile: user-service/Dockerfile
    container_name: user-service
    environment:
      - SERVER_PORT=8081
    ports:
      - "8081:8081"

  customerservice:
    build:
      context: .
      dockerfile: customerservice/Dockerfile
    container_name: customerservice
    environment:
      - SERVER_PORT=8083
    ports:
      - "8083:8083"

  propertyservice:
    build:
      context: .
      dockerfile: propertyservice/Dockerfile
    container_name: propertyservice
    environment:
      - SERVER_PORT=8084
    ports:
      - "8084:8084"

volumes:
  esdata:
